// // Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// // Variables
@import "variables";

// // Bootstrap
// @import "bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
    width: 100%;
    display: block;
}
.wrapeer {
    display: flex;
}
main {
    width: 980px;
    margin: 5rem auto;
    font-weight: bold;
    font-size: 1.2rem;
}
.container {
    display: flex;
    justify-content: center;
}
body {
    font-family: "Noto Sans JP", sans-serif;
}
// h1 {
//     font-size: 2rem;
// }
input,
select {
    padding: 0.5rem;
    font-size: 1rem;
    width: 20rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(225, 225, 225);
}
button {
    color: #fff;
    border-radius: 1rem;
    padding: 0.3rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}
.input__box {
    &.col {
        display: block;
    }
    &.column {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    button {
        margin-left: 1rem;
        color: #000;
        background-color: rgb(195, 184, 184);
    }
}
.ditail {
    background-color: green;
}
.edit,
.register {
    background-color: blue;
}
.delet {
    background-color: red;
}
.back {
    background-color: #fff;
}
