* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
main {
    width: 1080px;
    margin: 0 auto;
}
body {
    font-family: "Noto Sans JP", sans-serif;
}
